/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2017, 5:04:22 PM
    Author     : debian1
*/
.chart-symbol { /* solid circle */
    -fx-background-color: black;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}